@page
@model AS_Assignment_2_Pt_2.Pages.ChangePasswordModel
@{
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3">Change Password</h1>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="ChangePassModel.Password">Current Password</label>
                        <input type="text" asp-for="ChangePassModel.Password" class="form-control" />
                        <span asp-validation-for="ChangePassModel.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="ChangePassModel.NewPassword">New Password</label>
                        <input type="text" asp-for="ChangePassModel.NewPassword" class="form-control" />
                        <span asp-validation-for="ChangePassModel.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="ChangePassModel.ConfirmPassword">Confirm Password</label>
                        <input type="text" asp-for="ChangePassModel.ConfirmPassword" class="form-control" />
                        <span asp-validation-for = "ChangePassModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <span class="text-danger">@TempData["ErrorMsg"]</span>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <input type="hidden" runat="server" id="g-recaptcha-response" name="g-recaptcha-response" />
                </form>
            </div>
        </div>
    </div>
}
