@page
@model AS_Assignment_2_Pt_2.Pages.ResetModel
@{
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3" >Verify Email</h1>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="ResModel.Token" type="hidden"/>
                        <input asp-for="ResModel.Email" type="hidden" />
                        <div class="mb-3">
                            <label class="form-label" asp-for="ResModel.Password">Password</label>
                            <input type="text" asp-for="ResModel.Password" class="form-control" />
                            <span asp-validation-for="ResModel.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="ResModel.ConfirmPassword">Password</label>
                            <input type="text" asp-for="ResModel.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ResModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <span class="text-danger">@TempData["ErrorMsg"]</span>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Reset</button>
                        </div>
                        <input type="hidden" runat="server" id="g-recaptcha-response" name="g-recaptcha-response" />
                    </form>
            </div>
        </div>
    </div>
}
